<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<title>Insert title here</title>
</head>
<body>
<div class="container" ng-controller="FriendController as ctrl">
<div class="form-group has-feedback"></div>
<div ng-hide="currentUser.id !== friend.id"> 
<input type="submit" ng-click="ctrl.getMyFriends()" class="w3-btn w3-yellow w3-border w3-border-red w3-round-xlarge" value="Get My Friends"/>
</div>
<div ng-repeat="friend in ctrl.friend | filter: sear_text">
<div ng-hide="currentUser.id !== friend.id"> 
<p>friend Id: {{friend.friendId}} &nbsp;&nbsp;&nbsp;Status: {{friend.status}}

<a href="#/chat"><input type="submit" class="btn btn-warning" value="Send Message"/></a>
</p>
</div>
</div>  
</div>
<div ng-include="'c_friend/friend1.html'"></div>
</body>
</html>