
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>View Friends</title>
</head>
<body>
<div class="container" ng-controller="FriendController as ctrl">
		<p>
		<p>
		<p>
		<p>
		<p>
		<p>
		<p>
		<p>
		<div class="form-group has-feedback"></div>

		Search for friend
		<p>
			<input type="text" ng-model="search_txt">
		</p>
		<div ng-repeat="friend in ctrl.friends | filter: search_txt">
			<fieldset>
				<legend></legend>
				<p>Name: {{friend}} &nbsp; &nbsp; &nbsp; Status : {{friend.status}}
				<a href="#/chat">Send Message</a>
			</fieldset>
		</div>
	</div>
</body>
</html>